CREATE THE STRUCTURE OF THE DATABASE

In [1]:
# import packages
import pandas as pd
import geopandas as gpd
from sqlalchemy import create_engine
from psycopg2 import ( 
        connect
)
import requests
import json

#import geoalchemy as geoA
from shapely.wkb import dumps as wkb_dumps

In [2]:
#open the configuration parameter from a txt file the table
myFile = open('dbConfig.txt')
connStr = myFile.readline()
myFile.close()

In [3]:
# build the string for the customized engine
dbD = connStr.split()
dbD = [x.split('=') for x in dbD]
dbD

[['dbname', 'binecoDB'], ['user', 'postgres'], ['password', 'r3df0x']]

In [4]:
engStr = 'postgresql://'+ dbD[1][1]+':'+ dbD[2][1] + '@localhost:5432/' + dbD[0][1]
engStr

'postgresql://postgres:r3df0x@localhost:5432/binecoDB'

In [5]:
#create the structure of the database

cleanup = (
        'DROP TABLE IF EXISTS pa_user',
        'DROP TABLE IF EXISTS bin CASCADE',
        'DROP TABLE IF EXISTS gardbage_collector CASCADE',
        'DROP TABLE IF EXISTS bin_status',
        'DROP TABLE IF EXISTS pa_data',
        'DROP TABLE IF EXISTS litter'
        )

commands = (
        
        #table for the registrantion of PA
        """ 
            CREATE TABLE pa_user(
                postal_code VARCHAR(5) PRIMARY KEY,
                municipality VARCHAR(255) NOT NULL,
                password VARCHAR(255) NOT NULL  
        )
        """,
        
        # table of the bin
        """ 
        CREATE TABLE bin(
                bin_id SERIAL PRIMARY KEY,
                bin_date TIMESTAMP DEFAULT NOW(),
                lat DOUBLE PRECISION NOT NULL,
                lon DOUBLE PRECISION NOT NULL,
                infographic BOOLEAN NOT NULL DEFAULT 'False',
                infographic_date TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
                geom geometry(POINT)
        )
        """,
        """ 
            CREATE TABLE gardbage_collector(
                personal_code SERIAL PRIMARY KEY,
                username VARCHAR(255) NOT NULL,
                password VARCHAR(255) NOT NULL
        )
        """,
        """ 
            CREATE TABLE bin_status(
                bin_id INTEGER UNIQUE NOT NULL,
                GC_code INTEGER UNIQUE NOT NULL,
                date TIMESTAMP DEFAULT NOW(),
                overfull BOOLEAN NOT NULL DEFAULT 'False',
                PRIMARY KEY(bin_id, GC_code,date),
                
                CONSTRAINT fk_bin
                    FOREIGN KEY(bin_id)
                        REFERENCES bin(bin_id)
                        ON DELETE SET NULL,
                CONSTRAINT fk_gc
                    FOREIGN KEY(GC_code)
                        REFERENCES gardbage_collector(personal_code)
                        ON DELETE SET NULL
        )
        """
        )

In [6]:
#create the connection with the database
conn = connect(connStr)
cur = conn.cursor()
for command in cleanup:
    cur.execute(command)
for command in commands :
    cur.execute(command)
cur.close()
conn.commit()
conn.close()

IMPORT DATA ABOUT THE PA CODE

In [7]:
#setup db connection (generic connection path to be update with your credentials: 'postgresql://user:password@localhost:5432/mydatabase')
engine = create_engine(engStr)

In [8]:
# creating the datafram of the municipalities 
# data obtained from http://lab.comuni-italiani.it/download/comuni.html
# !!NOTE: i'm using the municipality of italy because i can't find a list of australian city id
#opening the file and save it in a daframe
fileCsv = open("data/df_australia_postcode.csv")
df_pa = pd.read_csv(fileCsv)
fileCsv.close()

In [9]:
#df_pa

In [10]:
# write the dataframe into postgreSQL
df_pa.to_sql('pa_data', engine, if_exists = 'replace', index=False) #

IMPORT DATA FROM EPICOLLECT5

In [11]:
# send the request to the API of Epicollect5
response = requests.get('https://five.epicollect.net/api/export/entries/bineco-web-application')

In [12]:
raw_data = response.text

In [13]:
# parse the raw text response 
data = json.loads(raw_data)

In [14]:
# from JSON to Pandas DataFrame
data_df = pd.json_normalize(data['data']['entries'])
len(data_df) # for a good plot it's better to extract more then 50 lin
#data_df

50

In [15]:
# from Pandas DataFrame to GeoPandas GeoDataFrame
#we add a geometry column using the numeric coordinate colums
lon = '3_Position.longitude' #NOTE they are already numeric coordinate columns 
lat = '3_Position.latitude'
data_geodf = gpd.GeoDataFrame(data_df, geometry=gpd.points_from_xy(data_df[lon], data_df[lat]))

In [16]:
#data_geodf

In [17]:
# write the dataframe into postgreSQL
data_geodf.to_postgis('litter', engine, if_exists = 'replace', index=False)

IMPORT DATA ABOUT BINS

In [18]:
# creating the dataframe of the bins
# data obtained query OSM

#opening the file and save it in a daframe
filegeojson = open("data/Waste_basket_Cairns.geojson")
bin_df = gpd.read_file(filegeojson)
filegeojson.close()

In [19]:
#extract the usefull columns
bin_df_C = bin_df[['osm_id','geometry']]

In [20]:
#create the columns of longitude and latitude from the geometry attribute
bin_df_C['lon'] = bin_df_C['geometry'].x
bin_df_C['lat'] = bin_df_C['geometry'].y

C:\Users\teari\anaconda3\envs\SE_env1\lib\site-packages\geopandas\geodataframe.py:1322: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super(GeoDataFrame, self).__setitem__(key, value)

In [21]:
bin_df_C

        osm_id                     geometry         lon        lat
0   6593149355  POINT (145.70351 -16.88450)  145.703511 -16.884502
1   6593149350  POINT (145.70280 -16.88481)  145.702797 -16.884808
2   6593149356  POINT (145.70364 -16.88445)  145.703642 -16.884447
3   6081366312  POINT (145.81168 -16.90762)  145.811679 -16.907620
4   6600117486  POINT (145.97127 -16.75964)  145.971274 -16.759637
5   6600108483  POINT (145.97140 -16.75972)  145.971396 -16.759722
6   6600117507  POINT (145.97211 -16.75831)  145.972112 -16.758308
7   6600117487  POINT (145.97146 -16.75940)  145.971458 -16.759398
8   6221607921  POINT (145.97296 -16.75805)  145.972959 -16.758050
9   4714607894  POINT (145.67810 -16.96310)  145.678104 -16.963104
10  6600108455  POINT (145.97201 -16.76012)  145.972013 -16.760118
11  4714605793  POINT (145.67658 -16.96458)  145.676579 -16.964584
12  6600117533  POINT (145.97530 -16.75929)  145.975301 -16.759288
13  6600117536  POINT (145.97474 -16.75896)  145.974743 -16.758958
14  4714605497  POINT (145.67568 -16.96474)  145.675681 -16.964739
15  6600117515  POINT (145.97239 -16.75803)  145.972394 -16.758026
16  4714606194  POINT (145.67930 -16.96228)  145.679304 -16.962277
17  6600117525  POINT (145.97622 -16.76050)  145.976219 -16.760498
18  6600117553  POINT (145.97152 -16.75897)  145.971523 -16.758970
19  4714605794  POINT (145.67684 -16.96425)  145.676841 -16.964255
20  4714605892  POINT (145.67745 -16.96348)  145.677453 -16.963476
21  6600117541  POINT (145.97359 -16.75861)  145.973590 -16.758607
22  4714605891  POINT (145.67697 -16.96396)  145.676973 -16.963959
23  6600117550  POINT (145.97254 -16.75878)  145.972542 -16.758780

In [22]:
# Copy the dataframe to keep the original intact
insert_gdf = bin_df_C.copy()
# Make a new field containing the WKB dumped from the geometry column, then turn it into a regular 
#this way is faster
insert_gdf["geom_wkb"] = insert_gdf["geometry"].apply(lambda x: wkb_dumps(x))

In [23]:
# creating the query command
insert_query = """
    INSERT INTO bin (bin_id,lon,lat, geom)
    VALUES (%(full_id)s,%(lon)s,%(lat)s, ST_GeomFromWKB(%(geom_wkb)s));
"""
#creating a list of parameters to be inserted into values
params_list = [
    {
        "full_id": i,
        "lon": row["lon"],
        "lat": row["lat"],
        "geom_wkb": row["geom_wkb"]
    } for i, row in insert_gdf.iterrows()
]

In [24]:
#params_list

In [25]:
# Connect to the database and make a cursor
conn = connect(connStr)
cur = conn.cursor()

# Iterate through the list of execution parameters and apply them to an execution of the insert query
for params in params_list:
    cur.execute(insert_query, params)
cur.close()
conn.commit()
conn.close()

In [ ]:
#RELATION BETWEEN PA_USER AND PA_DATA
#we have to create the relation btw those two table using 
# ADD CONSTRAINT fk_user
#                   FOREIGN KEY(postal_code)
#                       REFERENCES PA_data(postcode)
#                       ON DELETE CASCADE